html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #FFEDD7;
  background-color: #161514;
  font-family: "Source Sans Pro","Roboto","Open Sans",Arial,sans-serif;
  /* "Inconsolata", monospace */
}

.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-item {
  text-align: center;
}
